@model List<Piranha.Editorial.ViewModels.PageWorkflowStatusViewModel>

@{
    ViewData["Title"] = "Estado Editorial das Páginas";
    var grouped = Model.GroupBy(p => p.SiteName).OrderBy(g => g.Key);
}

<div class="m-4">

    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Conteúdo</li>
                <li class="breadcrumb-item active" aria-current="page">Estado Editorial das Páginas</li>
            </ol>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="sitemap">
                    <ol>
                        @foreach (var group in grouped)
                        {
                            <li>
                                <div class="sitemap-item">
                                    <div class="handle"><i class="fas fa-globe"></i></div>
                                    <div class="link">
                                        <span class="title">@group.Key</span>
                                    </div>
                                </div>

                                <div class="sitemap sitemap-container dd">
                                    <ol class="dd-list">
                                        @foreach (var item in group)
                                        {
                                            <li class="dd-item">
                                                <div class="sitemap-item">
                                                    <div class="handle"><i class="fas fa-file-alt"></i></div>
                                                    <div class="link d-flex flex-column justify-content-center">
                                                        <span class="title">@item.Title</span>
                                                        <small class="text-muted">
                                                            Atualizado: @item.Created.ToString("HH:mm - dd/MM/yyyy")
                                                        </small>
                                                    </div>
                                                    <div class="badge bg-info align-self-center" style="margin-right: 1vw">
                                                        @item.WorkflowStage
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ol>
                                </div>
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
